<% if users.exists? %>
  <% users.each do |user| %>
        <tr>
          <th>follows </th>
          <th><%= user.followings.count %></th>
        </tr>
        <tr>
          <th>fillower</th>
          <th><%= user.followers.count %></th>
        </tr>
<% else %>
  <p>ユーザーはいません</p>
<% end %>